<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container d-flex pt-4">
    <div class="container p-3">
      <h2>Register</h2>
        <div id="register-alert" class="alert alert-warning" hidden></div>
      <form id="new-user-form" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" class="form-control mb-2">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" class="form-control mb-2">
        <label for="email">Email:</label>
        <input type="text" name="email" class="form-control mb-2">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control mb-2">
        <label for="password_confirm">Confirm Password:</label>
        <input type="password" name="password_confirm" class="form-control mb-2">
        <input type="submit" value="Register" class="btn btn-primary">
      </form>
      <script>
        var newUserForm = document.getElementById('new-user-form')
        newUserForm.onsubmit = function(e) {
          e.preventDefault();
          var form = new FormData(newUserForm);
          var registerAlertElement = document.getElementById("register-alert");
          fetch("http://127.0.0.1:5000/users/create", {method: 'POST', body: form})
            .then( response => response.json())
            .then( data => {
              if (data.validation==false) {
                console.log(data.messages)
                registerAlertElement.innerHTML = '';
                for (let i = 0; i < data.messages.length; i++) {
                  const message = data.messages[i];
                  const element = document.createElement('p');
                  element.innerHTML = message
                  registerAlertElement.appendChild(element)
                }
                registerAlertElement.removeAttribute('hidden');
              } else {
                console.log
                window.location.replace("/dashboard")
              }
            })
        }
      </script>
    </div>
    <div class="container p-3">
      <h2>Login</h2>
      <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" class="form-control mb-2">
        <label for="password">Password:</label>
        <input type="text" name="password" class="form-control mb-2">
        <input type="submit" value="Login" class="btn btn-success">
      </form>
    </div>
  </div>
</body>
</html>