<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            font-family: sans-serif;
        }
        .container-horizontal {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 0 auto;
        }
        .box {
            width: 200px;
            height: 200px;
            margin: 20px;
            border: 4px solid black;
        }
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Welcome!</h2>
    <div class="container-horizontal">
        {% for i in range(integer): %}
        <div class="box" style="background-color: {{color}};"></div>
        {% endfor %}
    </div>
</body>
</html>