<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <h2>*** Checkerboard ***</h2>
    {% for r in range(y) %}
        <div class="row">
        {% for c in range(x) %}
            {% if (r+c)%2==0 %}
                <div class="box" style="background-color: {{color1}};"></div>
            {% else %}
                <div class="box" style="background-color: {{color2}};"></div>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
</body>
</html>